
<div class="modal fade" id="del-{{ mesin.id }}" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="card card-icon mb-4">
                  <div class="row g-0">
                      <div class="col-auto card-icon-aside bg-pink"><i class="me-1 text-white-50 fa fa-trash"></i></div>
                      <div class="col">
                          <div class="card-body py-5">
                              <h5 class="card-title">{{ status }}</h5>
                              <p class="card-text">
                                <b>Delete</b> {{ mesin.no_machine }} {{ mesin.category_machine }}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-indigo" type="button" data-bs-dismiss="modal">Close</button>
              <form action="{% url 'delete_mesin' pk=mesin.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-pink ml-2" type="submit">Delete</button>
            </form>
          </div>
      </div>
  </div>
</div>

