# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
DowntimeLogger/AndonMachineApp/media/

# Ignore migrations, as they can be generated locally and might cause conflicts
# **/migrations/*.py
# **/migrations/*.pyc

# Django settings
# DMSProject/settings/local.py
# DMSProject/settings/production.py

DowntimeLogger/settings.py

# Pipenv #
Pipfile
Pipfile.lock