{% for mesin in list_mesin %}
<div class="col-lg-6 col-xl-3 mb-4">
    <div class="card {{ mesin.bg_color }} text-white h-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="me-3">
                    <div class="text-white-75 small">{{ mesin.data.category_machine|upper }}</div>
                    <div class="text-lg fw-bold">{{ mesin.data.no_machine}}</div>
                </div>
                <i class="feather-xl text-white-50" data-feather="check-square"></i>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
            <a class="text-white stretched-link" href="{% url 'view_andon' %}?category={{ mesin.data.category_machine }}&machine={{ mesin.data.no_machine}}">View Tasks</a>
            <div class="text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </div>
</div>
{% endfor %}