{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "base/header.html" %}
    {% endblock header %}
    <body class="bg-blue">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-xl ">
                        <div class="card shadow-lg rounded-lg mt-2 mb-2">
                            <div class="card-body sbp-preview">
                                <div class="row ">
                                    <div class="col-md-3 border border-blue d-flex justify-content-center align-items-center">
                                        <div class="text-center my-4">
                                            <h1 class="mb-2 display-1 fw-bold">{{ nmr_mesin }}</h1>
                                        </div>
                                    </div>
                                    <div class="col-md-6 border border-blue">
                                        <div class="row h-50 d-flex justify-content-center align-items-center border">
                                            <div class="text-center">
                                                <h1 class="mb-2 display-6 fw-bold">MACHINE {{ kategori_mesin|upper }}</h1>
                                            </div>
                                        </div>
                                        <div class="row h-50 d-flex justify-content-center align-items-center border">
                                            <div class="text-center">
                                                <h1 class="mb-2 display-6 fw-bold">{% if downtime_rundown %}{{ downtime_rundown }}{% else %}{{ status|upper }}{% endif %}</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 border border-blue d-flex justify-content-center align-items-center">
                                        <div class="text-center my-5">
                                            <h1 class="mb-2 display-1 fw-bold mx-auto">{{ nmr_mesin }}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <!-- Basic login form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-2">
                                    <div class="card-header">Action</div>
                                    <div class="card-body">
                                        <!-- Component Preview-->
                                        <div class="sbp-preview">
                                            <div class="sbp-preview-text">
                                                {% for role in roles %}
                                                <div class="d-flex justify-content-center">
                                                    <button type="button" class="btn text-lg {% if role.value in disabled_roles %}btn-dark{% else %}btn-orange{% endif %} w-100 mb-2 mt-2 p-5" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#dtm-{{ role.value }}" {% if role.value in disabled_roles %}disabled{% endif %}>{{ role.value|upper }}</button>
                                                    {% block modal_dt_mesin %}
                                                        {% include "./modal/modal-status-dt.html" %}
                                                    {% endblock modal_dt_mesin %}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>       

                            <div class="col-lg-6">
                               <!-- Basic login form-->
                                <div class="card shadow-lg border-0 rounded-lg mt-2">
                                    <div class="card-header">Machine Detail</div>
                                        <div class="card-body">
                                            {{ btnfinish|safe }}
                                            {% for dt_role in multicontext_roles %}
                                            <div class="card card-icon mb-3">
                                                <div class="row g-0">
                                                    <div class="col-auto card-icon-aside {{ dt_role.btn_color }}"><i class="me-1 text-white-50 fa {{  dt_role.icon }}"></i></div>
                                                    <div class="col">
                                                        <div class="card-body">
                                                            <h3 class="card-title">{{ dt_role.data.role|upper }}</h3>
                                                            <p class="card-text">{{ dt_role.data.status }}</p>
                                                            {% block modal_dt_role %}
                                                                {% include "./modal/modal-status-role.html" %}
                                                            {% endblock modal_dt_role %}
                                                        </div>
                                                    </div>
                                                    <div class="col-auto card-icon-aside text-white {{ dt_role.btn_color2 }}">
                                                        <button type="button" class="btn {{ dt_role.btn_color2 }}" type="button" data-bs-toggle="modal"
                                                            data-bs-target="#dtr-{{ dt_role.data.role }}" {{ dt_role.disable_btn }}><i class="me-1 text-white-50 fa {{ dt_role.icon2 }}"></i></button>
                                                    </div>
                                                    <div class="col-auto card-icon-aside text-white {{ dt_role.btn_color3 }}">
                                                        <button type="button" class="btn {{ dt_role.btn_color3 }}" type="button" data-bs-toggle="modal"
                                                            data-bs-target="#cancel-{{ dt_role.data.role }}" {{ dt_role.disable_btn2 }}><i class="me-1 text-white-50 fa fa-reply"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="text-center my-5">
                                                <p class="card-text">No items available.</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-xl px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <a class="text-arrow-icon text-white" href="{% url 'view_dashboard' %}?category={{ kategori_mesin }}">
                                        <i class="ms-0 me-1" data-feather="arrow-left"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">

                {% block footer %}
                    {% include "base/footer.html" %}
                {% endblock footer %}

            </div>
        </div>
        
        {% block javascript %}
            {% include "base/javascript.html" %}
        {% endblock javascript %}

    </body>
</html>
