{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "base/header.html" %}
    {% endblock header %}
    <body class="nav-fixed">

        {% block topnav %}
            {% include "base/topnav.html" %}
        {% endblock topnav %}

        <div id="layoutSidenav">
            {% block sidebar %}
                {% include "base/sidebar.html" %}
            {% endblock sidebar %}
            
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-info pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Dashboard {{ kategori_mesin.label|capfirst }} {% if role_filter %}({{ role_filter|capfirst }}){% endif %}
                                        </h1>
                                        <div class="page-header-subtitle">Dashboard overview list of {{ kategori_mesin.value }} machine(s)</div>
                                    </div>
                                    <div class="col-auto mt-4">
                                        <div class="dropdown">
                                            <button class="btn btn-transparent-light dropdown-toggle" id="dropdownFadeInUp" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="me-2" data-feather="filter"></i>Filter by role</button>
                                            <div class="dropdown-menu animated--fade-in-up" aria-labelledby="dropdownFadeInUp">
                                                {% for role in roles %}
                                                    <a class="dropdown-item" href="{% url 'view_dashboard' %}?category={% if kategori_mesin %}{{ kategori_mesin.value }}{% else %}all{% endif %}&role={{ role.value }}">{{ role.value|capfirst }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </header>

                    <div class="container-xl px-4 mt-n10">                  
                        <!-- Example Colored Cards for Dashboard Demo-->
                        <div class="row"
                        hx-get="{% url 'async_card' %}?category={% if kategori_mesin %}{{ kategori_mesin.value }}{% else %}all{% endif %}{% if role_filter %}&role={{ role_filter }}{% endif %}"
                        hx-trigger="load, every 2s">
                            
                        </div>
                    </div>
                    {{ list_mesin }}
                    
                </main>
                

                {% block footer %}
                    {% include "base/footer.html" %}
                {% endblock footer %}

            </div>
        </div>

        {% block javascript %}
            {% include "base/javascript.html" %}
        {% endblock javascript %}
        
    </body>
</html>
