{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "base/header.html" %}
    {% endblock header %}
    <body class="nav-fixed">

        {% block topnav %}
            {% include "base/topnav.html" %}
        {% endblock topnav %}

        <div id="layoutSidenav">
            {% block sidebar %}
                {% include "base/sidebar.html" %}
            {% endblock sidebar %}
            
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-info pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                                            Dashboard {{ kategori_mesin.label|capfirst }}
                                        </h1>
                                        <div class="page-header-subtitle">Dashboard overview list of {{ kategori_mesin.value }} machine(s)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">                  
                        <!-- Example Colored Cards for Dashboard Demo-->
                        <div class="row" hx-get="{% url 'async_card' %}?category={{ kategori_mesin.value }}" hx-trigger="load, every 2s">
                            
                        </div>
                    </div>
                    
                    <div class="container-xl px-4 mb-2">
                        <h4 class="mb-0 mt-5">Select Roles</h4>
                        <hr class="mt-2 mb-4" />
                        {% for role in roles %}
                        <a class="card card-icon lift lift-sm mb-4" href="{% url 'view_dashboard' %}?role={{ role.value }}">
                            <div class="row g-0">
                                <div class="col-auto card-icon-aside bg-secondary"><i class="text-white-50" data-feather="users"></i></div>
                                <div class="col">
                                    <div class="card-body py-5">
                                        <h5 class="card-title text-secondary mb-2">{{ role.value|upper }}</h5>
                                        <p class="card-text mb-1">Troubleshooting guides specific to your account including creating new accounts, modifying existing accounts, and deleting accounts.</p>
                                        <div class="small text-muted">3 articles in this category</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    
                </main>

                {% block footer %}
                    {% include "base/footer.html" %}
                {% endblock footer %}

            </div>
        </div>

        {% block javascript %}
            {% include "base/javascript.html" %}
        {% endblock javascript %}
        
    </body>
</html>
