
{% load static %}
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script> -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<!-- <script src="assets/demo/chart-area-demo.js"></script> -->
<!-- <script src="assets/demo/chart-bar-demo.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script> -->
<script src="{% static 'js/datatables/datatables-simple-demo.js' %}"></script>
<script src="{% static 'js/datatables/simple-datatables@latest.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script> -->
<script src="{% static 'js/litepicker/bundle.js' %}"></script>
<script src="{% static 'js/litepicker.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<script>
    $(window).on('load', function() {
        $('#loading').fadeOut('slow', function() {
            $('#layoutSidenav').fadeIn('slow');
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startTime = '{{ start_time|escapejs }}'; // Use escapejs to safely include the variable
        
        if (startTime) {
            const startTimeDate = new Date(startTime);

            function updateElapsedTime() {
                const now = new Date();
                const elapsedMillis = now - startTimeDate;

                const totalSeconds = Math.floor(elapsedMillis / 1000);
                const days = Math.floor(totalSeconds / 86400);
                const hours = Math.floor(totalSeconds / 3600);
                const minutes = Math.floor((totalSeconds % 3600) / 60);
                const seconds = totalSeconds % 60;

                // Format time with leading zeros
                const formattedDays = String(days).padStart(2, '0');
                const formattedHours = String(hours).padStart(2, '0');
                const formattedMinutes = String(minutes).padStart(2, '0');
                const formattedSeconds = String(seconds).padStart(2, '0');

                document.getElementById('elapsed-time').textContent = `${formattedDays}:${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
            }

            // Initial update
            updateElapsedTime();

            // Update every second
            setInterval(updateElapsedTime, 1000);
        }
    });
</script>
